<% include partials/header %>
	<div class="row">
		<!-- Show process -->
		<div class="col-md-6">
			<h1>Procesos Abiertos<a id="new-process-sign" class="pull-right" href="#">+</a></h1>
			<ul class="list-group" id="todo-list">
				<% todos.forEach(function(todo){ %>
					<li class="list-group-item">
						<span class="lead" id="<%=todo._id%>">
							<%= todo.name %>
						</span>
						<div class="pull-right">
							<button class="btn btn-sm btn-warning edit-button">Edit</button>
						</div>
						<div class="clearfix"></div>
					</li>
				<% }); %>
			</ul>
		</div><!-- End Show process -->

		<!-- Create new Process -->
		<div class="col-md-6">
			<div id="new-process">
				<h1>Crear Proceso</h1>
				<form action="/todos" method="POST" id="new-process-form">

					<div class="form-group">
						<label for="name">Nombre del proceso</label>
						<input type="text" name="todo[name]" class="form-control" placeholder="Carretillero puerto" id="name">
					</div>
					<div class="form-group">
						<label for="Cliente">Cliente</label>
						<input type="text" name="todo[client]" class="form-control" id="client" list="json-datalist">
						<datalist id="json-datalist"></datalist>
					</div>
					<div class="form-group form-inline">
						<label class="mr-sm-2" for="clientTypeNumber">Tipo</label>
  					<select class="custom-select  mb-2 mr-sm-2 mb-sm-0" name="todo[clientTypeNumber]" id="clientTypeNumber">
					    <option selected>Elegir...</option>
					    <option value="1">Oro</option>
					    <option value="2">Plata</option>
					    <option value="3">Bronce</option>
					  </select>
					</div>
					<div class="form-group form-inline">
						<label class="mr-sm-2" for="priorityNumber">Prioridad</label>
  					<select class="custom-select  mb-2 mr-sm-2 mb-sm-0" name="todo[priorityNumber]" id="priorityNumber">
					    <option selected>Elegir...</option>
					    <option value="1">Alta</option>
					    <option value="2">Normal</option>
					    <option value="3">Baja</option>
					  </select>
					</div>
					<div class="form-group form-inline">
						<label for="createAt">Inicio</label>
						<input type="date" name="todo[createAt]" class="form-control" placeholder="13/09/2017" id="createAt">
					</div>
					<div class="form-group form-inline">
						<label for="dateDelivery">Entrega</label>
						<input type="date" name="todo[dateDelivery]" class="form-control" placeholder="28/12/2018" id="dateDelivery">
					</div>
					<div class="form-group">
						<label for="office">Oficina</label>
						<input type="text" name="todo[office]" class="form-control" placeholder="Barcelona" id="office">
					</div>
					<div class="form-group">
						<label for="assignUser">Responsable</label>
						<input type="text" name="todo[assignUser]" class="form-control" placeholder="Fabiola Colotto" id="assignUser">
					</div>
					<button class="btn btn-primary">Crear</button>
				</form>
			</div>
		</div><!-- end create new process -->

		<!-- Edit Process -->
		<div class="col-md-6">
			<div id="edit-process">
			</div>
		</div><!-- end edit process -->

	</div><!-- cierra row -->

<% include partials/footer %>
