<%include partials/header%>

<div class="row">
    <h1 style="text-align: center;">Registrarse</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form  id="registerNewUserForm" action="/register" method="post">
            <div class="form-group">
                <label for="register-username">Usuario</label>
                <input class="form-control" type="text" name="username" id="register-username" placeholder="John Doe">
            </div>
            <div class="form-group">
                <label for="register-password">Contraseña</label>
                <input class="form-control" type="password" name="password" id="register-password" placeholder="Secure Password">
            </div>
            <div class="form-group">
                <label for="register-initials">Iniciales</label>
                <input class="form-control" type="text" name="initials" id="register-initials" placeholder="FC">
            </div>
            <div class="form-group">
                <label for="register-email">Email</label>
                <input class="form-control" type="email" name="email" id="register-email" placeholder="john.doe@noone.com">
            </div>
            <div class="form-group">
                <label for="register-adminCode">Admin Code</label>
                <input class="form-control" type="text" name="adminCode" id="register-adminCode" placeholder="Only if you have Admin Code">
            </div>
            <div class="form-group">
                <button id="NewUserFormButton" class="btn btn-lg btn-primary btn-block">Registrarse</button>
            </div>
            <div class="well well-sm form-result">
  						<h4></h4>
  						<ul></ul>
  					</div>
        </form>
        <a href="/">Volver</a>
    </div>
</div>

<%include partials/footer%>
