/* Move content out from beneath bootstrap navbar */
body {
  padding-top: 80px;
}

/* Hide to do item edit forms on page load */
.edit-item-form {
	display: none;
}

#new-process, #edit-process {
  display: none;
}

/*.form-inline {
  width: auto;
  display: inline-block;
}*/
/*.form-inline label {
  width: 70px;
}*/
.hidden{
  display: none;
}
.warningTime{
  background-color: rgba(255,255,0,.3)
}
.dangerTime{
  background-color: rgba(255,0,0,.3)
}
.safeTime{
  background-color: rgba(0,255,0,.2)
}
